.coffee_btn {
    margin-left: 190px;
    margin-bottom: 120px;
}

@media screen and (max-width: 1179px) {
    .coffee_img {
        width: 425px;
    }
    .coffee_btn {
        margin-left: 150px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 970px) {
    .coffee_img {
        width: 390px;
    }
    .coffee_btn {
        margin-left: 130px;
        margin-bottom: 40px;
    }
}